#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



  /* color de la barra de navegacion color */
  
  .nav_main {
    background-color: rgb(0, 0, 0);
    height: 70px;
    position: fixed;
    width: 100%;
    box-shadow: 0 0.1rem 0.1rem white;
    border-bottom-right-radius: 40px;
    /*porque??*/top: 0;
    left: 0;

    z-index: 100;

}




  
  .nav {
  
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
    z-index: 100;
    
    
  
  }
  
  /*color de la letras de la barra de navegacion */
  
  .nav-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;

}
  
  .logo {
    padding: 0 40px;
    line-height: 70px;
  }
  
  .nav-menu {
  
  
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  
  .nav-menu-item {
    font-size: 15px;
    margin: 0 10px;
    line-height: 70px;
    text-transform: uppercase;
    width: max-content;

}
  
  .nav-menu-link{
    padding: 8px 10px;
    border-radius: 3px;
  
  }
  
  .nav-menu-link:hover, .nav-menu-link_active{
  /*colordelhover*/background-color: rgb(255, 255, 255);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
  
  .nav-toggle {
  
    color: black;
    background: none;
    border: none;
    padding: 0 20PX;
    line-height: 50PX;
    display: none;
    cursor: pointer;
    
  
  }
   .nav-marca-link {
    
    text-decoration: none;
    line-height: 70px;
    text-transform: uppercase;
   
  
  
   }
  
   .nav-marca {
  
    list-style: none;
   }
  
  
   #header-contact {

    margin-top: 100px
   }



   
   .flex-container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    


   }

   .flex-item{

    padding: 20px;
   


   }



   .imglogin {

    margin-top: 100px;
  }

  body{background-color: rgb(82, 172, 208);}

  .style_login > button { 
    background-color: white; 
    border-radius:10px  ; 
    font-size: 15px;
    padding: 10px;
    margin: 10px;
}

.btn-search{ 

  margin-bottom: 20px;
}

.lista-api{

  margin-bottom: 20px;
}

.btn-targeta{
  margin: 20px;
}






.welcome-page {
  background-image: url(../images/header.PNG);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 1;

}


/* Eliminar despues */
.navbar {
  color: white;
  background-color: black;
}

.welcome-container {
  padding: 3% 8%;
}

h1 {
  color: white;
  font-size: 4.0rem;
  line-height: 3;
  font-weight: 800;
}

.welcomeh2 {
  color: white;
  padding-bottom: 20%;
}

button {
  margin: 5% 3% 5% 0;
}



#footer {
  margin: auto;
  color: white;
  text-align: center;
  line-height: 2;

}

.icon {
  padding: .25px;

}

.about-page {
  background-color: black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 1;
}

.aboutus-header {
  background-color: gray;
  padding: 3% 8%;

}

/*About Us Page*/

#title {
  background-image: url(../images/kodigo.PNG);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 1;
  padding: 1% 5%;
}

.info-container {

  padding: 7% 15%;
  opacity: 1;
  background-color: #2d095c;
}

.col-lg-4 {
  text-align: center;
  color: white;


}

img {
  border-radius: 50%;
  width: 60%;
  height: 70%;

}


.nombre {
  color: black;
  font-weight: bold;
  padding-top: 2px;
  ;

}

#about-footer {
  margin: auto;
  color: white;
  text-align: center;
  line-height: 2;
  background-color: #240041;
}