#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



  /* color de la barra de navegacion color */
  
  .nav_main {
    background-color: rgb(0, 0, 0);
    height: 70px;
    position: fixed;
    width: 100%;
    box-shadow: 0 0.1rem 0.1rem white;
    border-bottom-right-radius: 40px;
    /*porque??*/top: 0;
    left: 0;

}




  
  .nav {
  
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
    z-index: 100;
    
    
  
  }
  
  /*color de la letras de la barra de navegacion */
  
  .nav-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;

}
  
  .logo {
    padding: 0 40px;
    line-height: 70px;
  }
  
  .nav-menu {
  
  
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  
  .nav-menu-item {
    font-size: 15px;
    margin: 0 10px;
    line-height: 70px;
    text-transform: uppercase;
    width: max-content;

}
  
  .nav-menu-link{
    padding: 8px 10px;
    border-radius: 3px;
  
  }
  
  .nav-menu-link:hover, .nav-menu-link_active{
  /*colordelhover*/background-color: rgb(255, 255, 255);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
  
  .nav-toggle {
  
    color: black;
    background: none;
    border: none;
    padding: 0 20PX;
    line-height: 50PX;
    display: none;
    cursor: pointer;
    
  
  }
   .nav-marca-link {
    
    text-decoration: none;
    line-height: 70px;
    text-transform: uppercase;
   
  
  
   }
  
   .nav-marca {
  
    list-style: none;
   }
  
  
   #header-contact {

    margin-top: 100px
   }



   
   .flex-container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    


   }

   .flex-item{

    padding: 20px;
   


   }



  